<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="V550_akm_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0110433387782798 0.00276685441311947 0.0410022330200752"
        rpy="0 0 0" />
      <mass
        value="0.615535458832811" />
      <inertia
        ixx="0.00109033759487232"
        ixy="-2.28207446863102E-06"
        ixz="-1.36249048041868E-05"
        iyy="0.00182350249943942"
        iyz="7.50013898821029E-07"
        izz="0.00272063031666609" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.741176470588235 0.901960784313726 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="0.0037632088127475 -2.06697583141069E-05 0.00474768104523521"
        rpy="0 0 0" />
      <mass
        value="0.057830101833014" />
      <inertia
        ixx="3.4507104093221E-05"
        ixy="8.28206446199136E-08"
        ixz="-1.04628936889599E-06"
        iyy="3.98542740770754E-05"
        iyz="-4.8996851389614E-09"
        izz="5.38409737226242E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.10072764400328 0 0.076024183741431"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="3.4242E-07 1.9641E-07 4.5009E-07"
        rpy="0 0 0" />
      <mass
        value="0.056843" />
      <inertia
        ixx="0.000128"
        ixy="1.2018E-07"
        ixz="1.0878E-06"
        iyy="1.7724E-05"
        iyz="-2.4191E-08"
        izz="0.00012928" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.37647 0.37647 0.37647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.0193116745058398 7.41611063557746E-05 0.141688"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="controller_link">
    <inertial>
      <origin
        xyz="0.027057 0.025109 0.014174"
        rpy="0 0 0" />
      <mass
        value="0.018106" />
      <inertia
        ixx="1.3133E-05"
        ixy="3.0436E-07"
        ixz="-3.372E-07"
        iyy="6.8759E-06"
        iyz="3.2736E-07"
        izz="1.9248E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/controller_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74118 0.90196 0.95686 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/controller_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="controller_joint"
    type="fixed">
    <origin
      xyz="-0.0778939996927367 -0.022346849136488 0.117000000002309"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="controller_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lb_wheel_link">
    <inertial>
      <origin
        xyz="4.6582E-08 0.0013656 -1.6116E-08"
        rpy="0 0 0" />
      <mass
        value="0.043708" />
      <inertia
        ixx="1.7943E-05"
        ixy="2.197E-11"
        ixz="-1.2129E-12"
        iyy="3.112E-05"
        iyz="8.1625E-13"
        izz="1.7943E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/lb_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/lb_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0557423258673446 0.080863131909525 0.0140000000038106"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lb_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="lf_wheel_link">
    <inertial>
      <origin
        xyz="3.0572E-09 0.0013656 -5.0378E-08"
        rpy="0 0 0" />
      <mass
        value="0.043708" />
      <inertia
        ixx="1.7943E-05"
        ixy="1.0069E-11"
        ixz="3.96E-12"
        iyy="3.112E-05"
        iyz="-1.9192E-11"
        izz="1.7943E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/lf_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/lf_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0875109893806536 0.0807738681965471 0.014000000003155"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lf_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rb_wheel_link">
    <inertial>
      <origin
        xyz="2.593E-08 -0.0013656 -4.3236E-08"
        rpy="0 0 0" />
      <mass
        value="0.043708" />
      <inertia
        ixx="1.7943E-05"
        ixy="-3.6154E-12"
        ixz="2.5988E-13"
        iyy="3.112E-05"
        iyz="2.1092E-11"
        izz="1.7943E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/rb_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/rb_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.055742 -0.080867 0.014"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rb_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="rf_wheel_link">
    <inertial>
      <origin
        xyz="-3.4192E-08 -0.0013656 -3.7778E-08"
        rpy="0 0 0" />
      <mass
        value="0.043708" />
      <inertia
        ixx="1.7943E-05"
        ixy="1.8994E-11"
        ixz="-2.2402E-12"
        iyy="3.112E-05"
        iyz="9.9444E-12"
        izz="1.7943E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/rf_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/V550_akm_robot_meshes/rf_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_wheel_joint"
    type="continuous">
    <origin
      xyz="0.08753 -0.08083 0.014"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rf_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>
